# Deny access to .git directory
RewriteEngine On
RewriteRule ^(.*/)?\.git - [F,L]

# Custom error pages
ErrorDocument 403 https://ocf.berkeley.edu/~cael/error403.html
ErrorDocument 404 https://ocf.berkeley.edu/~cael/error404.html
